*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#000;
color:white;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:18px 50px;
background:#000;
border-bottom:1px solid #222;
}

nav ul{
display:flex;
gap:30px;
list-style:none;
}

.hero{
    height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;

    background:
    linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
    url("/images/waverbarber.jpg");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.hero h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 72px;
    font-weight: 600;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
}
.hero p{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 4px;
    font-size: 20px;
    color: #d9d9d9;
}

button{
padding:15px 40px;
border:none;
border-radius:30px;
font-size:20px;
cursor:pointer;
background:#D4AF37;
color:white;
}
.logo{
    width:160px;
    height:auto;
}
.barber-img{
    width:100px;
    height:100px;
    border-radius:50%;
    object-fit:cover;
    margin-bottom:15px;
}
