*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#000;
color:white;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:18px 50px;
background:#000;
border-bottom:1px solid #222;
}

nav ul{
display:flex;
gap:30px;
list-style:none;
}

.hero{
    height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;

    background:
    linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
    url("/images/waverbarber.jpg");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.hero h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 72px;
    font-weight: 600;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
}
.hero p{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 4px;
    font-size: 20px;
    color: #d9d9d9;
}

button{
padding:15px 40px;
border:none;
border-radius:30px;
font-size:20px;
cursor:pointer;
background:#D4AF37;
color:white;
}
.logo{
    width:160px;
    height:auto;
}
.barber-img{
    width:100px;
    height:100px;
    border-radius:50%;
    object-fit:cover;
    margin-bottom:15px;
}
#googleLogin{
    width:100%;
    padding:12px;
    background:#fff;
    color:#000;
    border:1px solid #ddd;
    border-radius:8px;
    font-weight:bold;
    cursor:pointer;
    margin-bottom:10px;
}

#googleLogin:hover{
    background:#f5f5f5;
}
.nav-right{
    display:flex;
    align-items:center;
    gap:20px;
}

.profile-icon{

    width:45px;
    height:45px;

    border-radius:50%;

    background:white;

    color:black;

    display:flex;

    justify-content:center;

    align-items:center;

    cursor:pointer;

    font-size:22px;

    font-weight:bold;

    transition:.3s;

}

.profile-icon:hover{

    transform:scale(1.08);

}
.profile-panel{

    position:fixed;

    top:0;

    right:-320px;

    width:300px;

    height:100vh;

    background:#111;

    border-left:1px solid #333;

    transition:.35s;

    z-index:99999;

    padding:25px;

    box-sizing:border-box;

}

.profile-panel.active{

    right:0;

}

.profile-header{

    text-align:center;

}

.profile-avatar{

    width:80px;

    height:80px;

    border-radius:50%;

    background:white;

    color:black;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:35px;

    margin:auto;

    margin-bottom:15px;

}

.profile-panel a{

    display:block;

    color:white;

    text-decoration:none;

    padding:14px 0;

    border-bottom:1px solid #222;

    font-size:16px;

}

.profile-panel a:hover{

    color:#ddd;

}
.profile-avatar-img{

    width:80px;

    height:80px;

    border-radius:50%;

    object-fit:cover;

    display:block;

    margin:auto;

    margin-bottom:15px;

}
.close-profile{

    position:absolute;
    top:15px;
    left:15px;

    width:35px;
    height:35px;

    border-radius:50%;
    border:none;

    background:white;
    color:black;

    font-size:22px;
    cursor:pointer;

}


.close-profile:hover{

    transform:scale(1.1);

}
.ad-video {
    width: 100%;
    max-width: 1200px;
    margin: 30px auto;
    overflow: hidden;
    border-radius: 15px;
}

.ad-video video {
    width: 100%;
    display: block;
    max-height: 500px;
    object-fit: cover;
}